<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de la Venta</title>
    <link rel="stylesheet" th:href="@{/css/detalleVenta.css}">
</head>
<body>

<div class="sidebar">
    <div class="cliente-info">
        <h2>Empleado:</h2>
        <p th:text="${empleado}">Nombre empleado</p>

        <h3>Cliente:</h3>
        <p th:text="${cliente}">Nombre cliente</p>

        <h3>Caja:</h3>
        <p th:text="${caja}">Caja</p>

        <h3>Sucursal:</h3>
        <p>Sucursal Central</p>

        <p><strong>Fecha de la compra:</strong> <span th:text="${fecha}">dd/mm/aaaa</span></p>

        <p><strong>Hora de la compra:</strong> <span th:text="${hora}">--:--</span></p>

    </div>

    <form method="POST" action="/venta/pdf">
        <input type="hidden" name="cliente" th:value="${cliente}" />
        <input type="hidden" name="empleado" th:value="${empleado}" />
        <input type="hidden" name="caja" th:value="${caja}" />
        <input type="hidden" name="sucursal" th:value="'Sucursal Central'" />
        <input type="hidden" name="fecha" th:value="${fecha}" />
        <input type="hidden" name="hora" th:value="${hora}" />
        <input type="hidden" name="total" th:value="${total}" />

        <div th:each="p : ${productos}">
            <input type="hidden" name="nombres[]" th:value="${p.nombre}" />
            <input type="hidden" name="cantidades[]" th:value="${p.cantidad}" />
            <input type="hidden" name="precios[]" th:value="${p.precio}" />
        </div>

        <button type="submit">Confirmar venta</button>
    </form>




    <form method="get" action="/inicio" style="margin-top: 10px;">
        <button type="submit" >Cancelar</button>
    </form>
</div>

<div class="main-container">
    <header class="detalle-header">
        <span>Detalle de la Venta</span>
    </header>

    <div class="content-wrapper">
        <section class="detalle-section">
            <table>
                <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${productos}">
                    <td><img th:src="${p.imagen}" alt="imagen" width="50"/></td>
                    <td th:text="${p.nombre}"></td>
                    <td th:text="${p.cantidad}"></td>
                    <td th:text="${p.precio}"></td>
                    <td th:text="${p.precio * p.cantidad}"></td>
                </tr>
                </tbody>
            </table>

            <div class="total" th:text="'Total: $' + ${total}"></div>
        </section>
    </div>
</div>

</body>
</html>
