<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de la Venta</title>
    <link th:href="@{/css/detalleVenta.css}" rel="stylesheet">
</head>
<body>

<h1>Detalle de la Venta</h1>
<h3>Empleado: <span th:text="${nombreEmpleado}"></span></h3>
<h3>Cliente: <span th:text="${nombreCliente}"></span></h3>

<p><strong>Empleado:</strong> <span th:text="${empleado}">Nombre empleado</span></p>
<p><strong>Cliente:</strong> <span th:text="${cliente}">Nombre cliente</span></p>
<p><strong>Caja:</strong> <span th:text="${caja}">Nombre caja</span></p>

<table>
    <thead>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${productos}">
        <td th:text="${p.nombre}"></td>
        <td th:text="${p.cantidad}"></td>
        <td th:text="${p.precio}"></td>
        <td th:text="${p.precio * p.cantidad}"></td>
    </tr>
    </tbody>
</table>

<h2 th:text="'Total: $' + ${total}"></h2>

</body>
</html>
