<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/inventario.css}" rel="stylesheet">
  <link rel="stylesheet" href="inventario.css">
  <title>Inventario</title>
</head>
<body>
<div class="inventario-container">
  <header class="inventario-header">
    <h1>Inventario de la <span th:text="${nombreSucursal}">Nombre Sucursal</span></h1>
    <div class="inventario-acciones">
      <button onclick="location.href='/inicio'">Volver a Inicio</button>
      <div sec:authorize="hasAuthority('Gerente')" class="buttons">
        <button onclick="location.href='/inventario/nuevo-producto'">Agregar Producto</button>
        <button onclick="location.href='/inventario/realizar-pedido'">Pedido a Proveedor</button>
      </div>
    </div>
  </header>

  <section class="tabla-productos">
    <table>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="producto : ${productos}">
          <td th:text="${producto.nombre}">Nombre</td>
          <td><img th:src="@{${producto.imagen}}" alt="Imagen" style="width: 50px; height: auto;"></td>
          <td th:text="${producto.stock}">Cantidad</td>
          <td th:text="${producto.precio}">Precio</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
</body>
</html>