html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(216, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 2rem 2.5rem;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 20rem;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: rgb(216, 42, 42);
    margin-bottom: 2rem;
}

form label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: orange;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

select {
    width: 100%;
    padding: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.is-invalid {
    border-color: red;
    background-color: #ffe6e6;
}

.alert {
    padding: 1rem;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    margin-bottom: 1.5rem;
}

.text-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    width: 100%;
    padding: .5rem;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.success {
    background-color: orange;
}

.success:hover {
    background-color: rgb(255, 140, 0);
}

.cancel {
    background-color: red;
}

.cancel:hover {
    background-color: #d22230;
}