body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(216, 42, 42);
    margin: 0;
    padding: 2rem;
}

a {
    color: white;
    cursor: pointer;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: orange;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header h1 {
    margin: 0;
    color: rgb(216, 42, 42);
}

.acciones {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.acciones button {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: rgb(216, 42, 42);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.columns button {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: rgb(216, 42, 42);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.acciones button:hover {
    background-color: #d22230;
}

.tabla-productos table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-productos th, .tabla-productos td {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #d22230;
}

.tabla-productos th {
    background-color: rgb(216, 42, 42);
    color: white;
}

.btn-edit {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #808182;
}

.btn-delete {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #d22230;
}

img {
    width: 5rem;
    height: auto;
}

.btn-more {
    padding: 0.6rem;
    background-color: #d22230;
}

.btn-less {
    padding: 0.6rem;
    background-color: #808182;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    background-color: rgb(216, 42, 42);
    padding: 2rem;
    border: 5px solid black;
    z-index: 1000;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal h2 {
    color: black;
    margin-top: 0;
    font-size: 2rem;
}

.modal button {
    margin: 1rem 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: orange;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem;
}

.form-control {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
}

.add {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}